.footer-container {
    background-color: #34B2FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
  }
  .sociallogo:hover{
    text-decoration: none;
    color: white;
  }
  
  .socialLink {
    color: #fff;
    font-size: 24px;
  }
  
  .socialMedia {
    max-width: 1000px;
    width: 100%;
  }
  
  .socialMedia-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 20px auto 0 auto;
  }
  
  .social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
  }
  
.sociallogo {
    color: #fff;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .legal {
    color: #fff;
    margin-bottom: 16px;
  }
  
  @media screen and (max-width: 820px) {
    .footer-links {
      padding-top: 2rem;
    }
  
    .footer-input {
      width: 100%;
    }
  
    .btn {
      width: 100%;
    }
  
    .footer-link-wrapper {
      flex-direction: column;
    }
  
    .socialMedia-wrap {
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 768px) {
  }